# Устанавливаем окончания строк для всех текстовых файлов
* text=auto

# Явно указываем окончания строк для различных типов файлов
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf

# Игнорируем окончания строк для файлов в папке node_modules
node_modules/**/* -text
